.editModal {
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  overflow: auto;
  max-height: 85%;
  pointer-events: auto !important;
  border-radius: 12px;
  background: white;
  padding-bottom: 0;
}